/*
Root Elements
 */
:root {
    --anim-fade-duration: 0.25s;
}
input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label {
    width: auto;
}
/*
Custom Classes
 */
.hidden {
    display: none;
}

.card-action a {
    cursor: pointer;
}
.survey .card-title i{
    font-weight: bold;
    padding: 0px 5px;
}
.survey .card-title p{
    font-weight: bold;
}

.newSurvey i{
    font-weight: bold;
    padding: 0px 5px;
}
.card-title{
    font-size: 20px !important;
}
.nav-content{
    font-size: 24px;
    padding: 5px;
}

/*
New style
 */
.popup {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    align-items: center;
    transition: 0.5s;
    justify-content: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.popup > .row{
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/*
Root Elements
 */
:root{
    --anim-duration: 0.25s;
}
input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label {
    width: auto;
}

nav i{
    cursor: pointer;
    height: 100%;
    width: 40px;
    padding-left: 10px;
}
form{
    padding: 5px;
}
/*
Custom Classes
 */
.answer{
    display: flex;
    transform: scaleY(0);
    transform-origin: top;
    transition: var(--anim-duration);
}
.answer i{
    margin: 5px;
}
.newAnswerBtn{
    padding: 5px;
}
.newAnswerBtn a{
    width: 100%
}
.submitBtn{
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 5px;
    z-index: 1;
}
.submitBtn button{
    width: 100%;
    height: 100%;
}
/*
Animations
 */
.animate{
    transform: scaleY(1);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }

}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }

}

/*
End of New Style
 */
/*
Animations
 */
.fadeOut{
    opacity: 0;
    -webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: var(--anim-fade-duration); /* Safari */
    -webkit-transition-delay: var(--anim-fade-duration); /* Safari */
    transition-property: opacity;
    transition-duration: var(--anim-fade-duration);
    transition-delay: var(--anim-fade-duration);
}

.fadeIn{
    opacity: 1;
    -webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: var(--anim-fade-duration); /* Safari */
    -webkit-transition-delay: var(--anim-fade-duration); /* Safari */
    transition-property: opacity;
    transition-duration: var(--anim-fade-duration);
    transition-delay: var(--anim-fade-duration);
}

