/*
Root Elements
 */
:root{
    --anim-duration: 0.25s;
}
input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label {
    width: auto;
}

nav i{
    cursor: pointer;
    height: 100%;
    width: 40px;
    padding-left: 10px;
}
form{
    padding: 5px;
}
/*
Custom Classes
 */
.answer{
    display: flex;
    transform: scaleY(0);
    transform-origin: top;
    transition: var(--anim-duration);
}
.answer i{
    margin: 5px;
}
.newAnswerBtn{
    padding: 5px;
}
.newAnswerBtn a{
    width: 100%
}
.submitBtn{
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 5px;
    z-index: 1;
}
.submitBtn button{
    width: 100%;
    height: 100%;
}
/*
Animations
 */
.animate{
    transform: scaleY(1);
}